Repository google/cpu_features, pull requests merged in 2024-12, with the labels that each got.

#375 [bazel] Add missing platform dependency
  MODULE.bazel
Labels: bazel

#377 Fix ci
  cmake/ci/Makefile
  cmake/ci/docker/toolchain/Dockerfile
  scripts/run_integration.sh
Labels: misc

#378 ci: Remove linaro toolchains support
  .github/workflows/aarch64_linux_cmake.yml
  .github/workflows/arm_linux_cmake.yml
  cmake/ci/Makefile
  scripts/run_integration.sh
Labels: misc

#379 [bazel] Use a macro instead of @platforms//os:windows
  BUILD.bazel
  bazel/platforms.bzl
Labels: misc, bazel

#382 [bazel] Add armv7 and use alias for cpus
  BUILD.bazel
Labels: bazel
